body{
	background-image: url("background.jpg") ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

div.transbox{
	background-position:center;
	background-color: black;
	opacity:0.7;
}

div.title h1{
	font-weight:bold;
	color: lavender;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

div.reg h3{
	color: lavender;
	font-family: "Comic Sans MS", cursive, sans-serif;
}