<!DOCTYPE html>
<html lang="en">
<head>
  <title>About RadBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="home">RadBlog (beta)</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="about">About</a></li>
				</ul>
				{% if 'username' in session %}
				<ul class="nav navbar-nav">
					<li><a href="story">Read the Stories</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="newpost">Add A Story</a></li>
				</ul>
	      		<ul class="nav navbar-nav navbar-right">
	      			<li><a href="reset"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      		</ul>
				<ul class= "nav navbar-nav navbar-right">
				  <li><a> Hello, {{session['username']}} </a></li>
				</ul>
	      		{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        		<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      		</ul>
	      		{% endif %}

			</div>
		</div>
	</nav>
	<br><br><br>
	<div class="col-md-offset-2 col-md-4 title">
		<h1>About the Creators</h1>
	</div>
	<div class="col-md-offset-2 col-md-8 reg">
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis turpis id magna accumsan tempus. Donec auctor elit eget nulla tincidunt accumsan. Vivamus sit amet nulla lacus. Proin porttitor lacus ac leo consectetur, non porta arcu ultricies. Maecenas lobortis porta sapien, vel tristique lectus. Nulla blandit lacinia augue, ut malesuada felis egestas accumsan. Fusce condimentum sit amet odio eu rhoncus. Vestibulum tincidunt tempus laoreet. Nulla facilisi. Suspendisse potenti. Sed ultrices purus vitae semper finibus.</p>

<p>Aliquam tincidunt elit sit amet rhoncus viverra. Quisque velit ligula, accumsan nec libero quis, accumsan maximus elit. Donec vitae nisl lectus. Integer a commodo est, in finibus velit. In malesuada dui libero, id porttitor eros ornare at. Integer eu rhoncus ipsum. Quisque in urna sit amet ligula facilisis finibus nec a justo.</p>

<p>In egestas porta nunc, in convallis tellus finibus et. Suspendisse potenti. Nullam posuere ut massa id pretium. Fusce quis tincidunt purus, in sollicitudin turpis. Maecenas efficitur congue ex, eget blandit mauris hendrerit et. Quisque vel elementum enim. Pellentesque nibh nulla, ultricies ac aliquet vitae, consectetur non nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Vestibulum eget maximus libero, id euismod diam.</p>

<p>Nunc et erat ut felis placerat scelerisque nec eu nibh. Phasellus eget lacus laoreet, lobortis nisi rutrum, mattis purus. Etiam faucibus porta nisi, eu semper ligula ullamcorper non. Suspendisse diam augue, tristique quis vestibulum at, tempor nec risus. Fusce eget porta arcu. Proin dictum posuere orci eget bibendum. Maecenas varius augue vitae fringilla aliquam. Praesent ornare ullamcorper faucibus.</p>

<p>Aenean tempus, nulla gravida pulvinar vestibulum, nisl nulla pretium tortor, a accumsan diam justo ac enim. Donec eget tellus pharetra, vestibulum nunc a, vestibulum tellus. Vivamus at sollicitudin urna. In sollicitudin volutpat sapien, nec dignissim justo varius non. In in magna tincidunt, sodales eros quis, dictum nisi. Integer sit amet sagittis purus, non dignissim enim. Sed vel risus et mi cursus congue vitae et justo. Donec nec felis enim. Ut eleifend nulla leo, faucibus venenatis augue tristique eu. Phasellus libero eros, molestie ut odio vitae, euismod egestas metus. Etiam non erat non odio viverra dignissim. Nullam sollicitudin nibh justo, a auctor nibh lobortis eget.</p>
	</div>
</body>
