{% extends "blocks.html" %}
  {% block title %}
        <title>About RadBlog</title>
    {% endblock title %}

	<br><br><br>
    <br><br><br>

    {% block main %}
        <center><div class="container-fluid row" style="margin: 5%">
            <div class="col-md-offset-2 col-md-4 title">
                <center><h1>About the Creators</h1></center>
            </div>
            <div class="col-md-offset-2 col-md-8 reg" style="background-color: black; opacity:0.8; font-family: Comic Sans MS, cursive, sans-serif">
                <h3>A blog project by Raymond Wu, Aaron Wang, and Derrick Lui</h3>
                <h3>Functions Include:</h3>
                <h3>Registering new users</h3>
                <h3>Unique usernames</h3>
                <h3>Logging in authentication</h3>
                <h3>Password encryption</h3>
                <h3>Post creation</h3>
                <h3>Logging out</h3>
            </div>
        </div></center>
    {% endblock main %}
</html>
