<!DOCTYPE html>
<html lang="en">
<head>
  <title>About RadBlog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="home">RadBlog (beta)</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="about">About</a></li>
				</ul>
				{% if 'username' in session %}
				<ul class="nav navbar-nav">
					<li><a href="story">Read the Stories</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="newpost">Add A Story</a></li>
				</ul>
	      		<ul class="nav navbar-nav navbar-right">
	      			<li><a href="reset"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      		</ul>
				<ul class= "nav navbar-nav navbar-right">
				  <li><a> Hello, {{session['username']}} </a></li>
				</ul>
	      		{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        		<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      		</ul>
	      		{% endif %}

			</div>
		</div>
	</nav>
	<br><br><br>
	<div class="col-md-offset-2 col-md-4 title">
		<h1>About the Creators</h1>
	</div>
	<div class="col-md-offset-2 col-md-8 reg" style="background-color: black; opacity:0.8; font-family: "Comic Sans MS", cursive, sans-serif">
		<h3>A blog project by Raymond Wu, Aaron Wang, and Derrick Lui</h3>
		<h3>Functions Include:</h3>
		<h3>Registering new users</h3>
		<h3>Unique usernames</h3>
		<h3>Logging in authentication</h3>
		<h3>Password encryption</h3>
		<h3>Post creation</h3>
		<h3>Logging out</h3>
	</div>
</body>
