{% extends "blocks.html" %}

    {% block title %}
        <title>RadBlog - Hottest Blog on the Net</title>
    {% endblock title %}
  <!-----------------------START HEADER + BOOTSTRAP CODE --------------------------------
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  -----------------------END HEADER + BOOTSTRAP CODE -------------------------------->


	<br><br><br>
    {% block main %}
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <hr>
                <h4 class="text-muted text-center">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}	
                </h4>
            <hr>
            {% endif %}
        {% endwith %}


        <br><br><br>


        <div class="transbox col-md-offset-4 col-md-4" style="font-family:Impact, Charcoal, sans-serif;">
                    <h1 class="text-primary text-center">Welcome to RadBlog!</h1>
                    <h3 class="text-warning text-center">The Hottest Blog on the Net</h3>
        </div>
    
    {% endblock main %}

