<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="home">RadBlog (beta)</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="about">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      		</ul>

			</div>
		</div>
	</nav>
	<br><br><br>
	<div class="col-md-offset-4 col-md-4"> 
	 <!-- {% with messages = get_flashed_messages() %}
	     {% if messages %}
	       <ul class = flashes>
	       {% for message in messages %}
	          <li> {{message}} </li>
	       {% endfor %}
	       </ul>
	     {% endif %}
	  {% endwith %}
	-->	  
		<h3 class="text-primary text-center">Hello User</h3>
		<h4 class="text-muted text-center">Please enter your Username and Password</h4>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<hr>
		<h4 class="text-muted text-center">
		  {% for message in messages %}
		   {{message}}
		  {% endfor %}
		</h4>
		<hr>
		{% endif %}
		{% endwith %}
	</div>
	<form class="form-horizontal" role="form" method="POST">
		<div class="form-group">
			<div class="col-md-offset-5 col-md-2">
				<input class="form-control" name="username" type="text" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-5 col-md-2">
				<input class="form-control" name="password" type="password" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-5 col-md-2">
				<input type="submit" value="Login" name="button" class="btn btn-default"></button>
			</div>
		</div>
	</form>
</body>
