{% extends "blocks.html" %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    {% block title %}
        <title>Login</title>
    {% endblock title %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    
<body>

	<br><br><br>
    {% block main %}
        {% if 'username' in session %}
        <div class="col-md-offset-4 col-md-4" style="margin-top: 5%; margin-bottom: 1%">
            <h3 class="text-primary text-center">Hello {{session['username']}}</h3>
            <h4 class="text-muted text-center">Please enter your new post</h4>
        </div>
        <form class="form-horizontal" role="form" method="POST">
            <div class="form-group">
                <div class="col-md-offset-3 col-md-2">
                    <input maxlength="20" class="form-control" name="nTitle" type="text" placeholder="Title (max 20 characters)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <textarea class="form-control" rows="5" name="nContent" placeholder="Type Here."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-2">
                    <input type="submit" value="Post" name="button" class="btn btn-default"></button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="col-md-offset-4 col-md-4">
            <h3 class="text-primary text-center">You must be logged in to post!</h3>
        </div>
        {% endif %}
    {% endblock main %}
</body>
