{% extends "blocks.html" %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    {% block title %}
        <title>Login</title>
    {% endblock title %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    
<body>
    {% block main %}
        <div class="col-md-offset-4 col-md-4" style="margin-top: 5% ; margin-bottom: 1%"> 
            <h3 class="text-primary text-center">Hello New User</h3>
            <h4 class="text-warning text-center">Please choose your Username and Password</h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <hr>
        <h4 class="text-warning text-center">
        {% for message in messages %}
        {{message}}
        {% endfor %}	
        </h4>
        <hr>
        {% endif %}
        {% endwith %}
        </div>
        <form class="form-horizontal" role="form" method="POST">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input class="form-control" name="username" type="text" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input class="form-control" name="password" type="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <input type="submit" value="Register" name="button" class="btn btn-default"></button>
                </div>
            </div>
        </form>
    {% endblock main %}
</body>
