<!DOCTYPE html>
<html lang="en">
<head>
  <title>Read the Stories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="home">RadBlog (beta)</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="about">About</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="story">Read the Stories</a></li>
				</ul>
				{% if 'n' in session %}
				<ul class="nav navbar-nav">
					<li><a href="newpost">Add A Story</a></li>
				</ul>
      	<ul class="nav navbar-nav navbar-right">
      		<li><a href="reset"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      	</ul>
      	{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        	<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      	</ul>
      	{% endif %}
			</div>
		</div>
	</nav>
	<br><br><br>
	{% if 'n' not in session %}

	<div class="col-md-offset-4 col-md-4">
		<h3 class="text-primary text-center">You must be logged in to view stories!</h3>
	</div>

	{% else %}

	<div class="col-md-offset-2 col-md-8">
		<h2 class="text-primary">Title Goes Here</h3>
		<blockquote>
			<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pellentesque lobortis mi at porta. Cras tempus dui non est pulvinar pulvinar ut sit amet lorem. Nunc placerat rhoncus fringilla. Nullam porttitor, odio ut dignissim sagittis, urna urna gravida nunc, vitae fermentum nisi mi non risus. Integer et dolor eros. Aliquam vel sapien nisi. Curabitur a nibh a tortor congue auctor quis vel augue. Cras ut velit accumsan, viverra turpis non, tincidunt lectus. Cras tincidunt imperdiet rhoncus. Fusce odio dolor, posuere eu ornare ac, cursus a tortor. Morbi id velit nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris nec magna eu turpis porttitor volutpat. Morbi non accumsan massa. Cras quis tempor nibh.</p>
			<footer class="text-info">Author Name</footer>
		</blockquote>
	</div>
	{% endif %}
</body>
