{% extends "blocks.html" %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    {% block title %}
        <title>Read Stories</title>
    {% endblock title %}
    <!---ADDED BLOCK FOR NAV AND BOOTSTRAP IMPLEMENTATION--->
    
<body>
    
    {% block main %}
        <br><br><br>
        {% if 'username' not in session %}

        <div class="col-md-offset-4 col-md-4">
            <h3 class="text-primary text-center">You must be logged in to view stories!</h3>
        </div>

        {% else %}

        {{allposts}}

        {% endif %}
    {% endblock main %}
</body>
